.intro__list {
  outline: 1px solid fuchsia;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #FFF;
  font-size: 12px;
  line-height: 18px;
  font-style: bold;
  font-weight: 700;
  text-align: left;
  max-width: 690px;
}
