.lead {
  /*outline: 1px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 148px 92px;
  box-sizing: border-box;
}

@media screen and (max-width: 1152px) {
  .lead {
      padding: 0 48px 92px;
  }
}

@media screen and (max-width: 896px) {
  .lead {
      padding: 0 0 88px;
  }
}

@media screen and (max-width: 544px) {
  .lead {
      padding: 0 0 64px;
  }
}
