.lead__ellipse {
  width: 6.99px;
  height: 8.14px;
  background-image: url('../../../images/Ellipse.png');
  border-radius: 50%;
  color:#FFF;
}

/*.lead__ellipse:hover {
  background-color: blue;
}*/
