.lead__title {
  padding: 0;
  margin: 56px 0 32px;
  color: #fff;
  font-size: 96px;
  line-height: 100px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  max-width: 720px;
  width: 100%;
}

@media screen and (max-width: 1152px) {
  .lead__title {
      margin: 48px 0 32px;
  }
}

@media screen and (max-width: 944px) {
  .lead__title {
      margin: 48px 0 24px;
  }
}

@media screen and (max-width: 742px) {
  .lead__title {
      max-width: 710px;
      margin: 48px 0 16px;
      font-size: 68px;
      line-height: 70px;
  }
}

@media screen and (max-width: 544px) {
  .lead__title {
      max-width: 288px;
      font-size: 40px;
      line-height: 44px;
  }
}
