.lead__title {
  margin: 0;
  padding: 56px 0 0;
  color: #FFF;
  font-size: 96px;
  line-height: 100px;
  font-style: black;
  font-weight: 900;
  text-align: center;
  max-width: 720px;
  max-height: 200px;
  /*outline: 1px solid red;*/
}
