.place__paragraph {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 18px;
    line-height: 29.34px;
    font-style: normal;
    font-weight: 400;
    max-width: 484px;
    max-height: 460px;
}

.place__paragraph:not(:last-child) {
    margin-bottom: 26px;
}

@media screen and (max-width: 780px) {
    .place__paragraph {
        font-size: 16px;
    }
}