.place__paragraph {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 18px;
    line-height: 163%;
    font-style: normal;
    max-width: 484px;
    width: 100%;
    font-weight: 400;
    grid-area: place__paragraph;
}

.place__paragraph:not(:last-child) {
    margin-bottom: 26px;
}

@media screen and (max-width: 1152px) {
    .place__paragraph {
        max-width: 456px;
    }
}

@media screen and (max-width: 896px) {
    .place__paragraph {
        font-size: 16px;
        max-width: 352px;
    }

    .place__paragraph:not(:last-child) {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 544px) {
    .place__paragraph {
        max-width: 288px;
        padding: 0 16px 0;
    }
}
