.intro__text {
  /*outline: 1px solid blue;*/
  margin: 0;
  padding: 0 0 33px;
  color: #FFF;
  font-size: 16px;
  line-height: 26.08px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  max-width: 690px;
}
