.cover {
    padding: 0 48px 92px;
    color: #FFF;
    width: 1184px;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover:hover {
    background-color: #2A2C2F;
    opacity: 0.3;
}