.place {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
      'place__title place__website'
      'place__image place__paragraph';
  max-width: 984px;
  width: 100%;
  column-gap: 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 1152px) {
  .place {
      column-gap: 32px;
      max-width: 928px;
      grid-template-columns: 440px 1fr;
  }
}

@media screen and (max-width: 896px) {
  .place {
      column-gap: 28px;
      max-width: 720px;
      grid-template-columns: 340px 1fr;
  }
}

@media screen and (max-width: 630px) {
  .place {
      max-width: 320px;
      column-gap: 32px;
      grid-template-columns: 1fr;
      grid-template-areas:
          'place__title'
          'place__website'
          'place__image'
          'place__paragraph';
  }
}
