.place__url-heading {
    margin: 0 0 12px;
    padding: 0;
    color: #AAA;
    font-size: 12px;
    line-height: 12px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    max-width: 456px;
}

