.place__website {
    /*margin: 106px 0 48px;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 0 48px;
    padding: 0;
    grid-area: place__website;
    /*height: 46px;*/
    width: 456px;
}

