.place__website {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0 0 48px;
  padding: 0;
  grid-area: place__website;
  max-width: 456px;
  width: 100%;
}

@media screen and (max-width: 896px) {
  .place__website {
      max-width: 352px;
  }
}

@media screen and (max-width: 544px) {
  .place__website {
      max-width: 288px;
      margin: 0 16px 32px;
  }
}
