.intro__title {
  outline: 1px solid fuchsia;
  margin: 0;
  padding: 114px 0 40px;
  color: #FFF;
  font-size: 54px;
  line-height: 58px;
  font-style: black;
  font-weight: 900;
  text-align: left;
  max-width: 690px;
}
